AUTH_DB_NAME=faclovers_auth
AUTH_DB_USER=your_auth_db_user
AUTH_DB_PASSWORD=your_auth_db_password
AUTH_DB_PORT=5433

PRODUCTION_DB_NAME=faclovers_production
PRODUCTION_DB_USER=your_production_db_user
PRODUCTION_DB_PASSWORD=your_production_db_password
PRODUCTION_DB_PORT=5434

AUTH_SERVICE_PORT=8081
PRODUCTION_SERVICE_PORT=8082
INDICATOR_SERVICE_PORT=8083

JWT_SECRET=change_this_secret_with_at_least_32_characters
JWT_EXPIRATION_MINUTES=1440

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_FORMAT_SQL=true

SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=your_sonar_token
