.env
*.log
.idea/
.vscode/
target/
build/
.gradle/
out/
.scannerwork/
auth-service/build/
auth-service/.gradle/
production-service/build/
production-service/.gradle/
indicator-service/build/
indicator-service/.gradle/
